footer{
    background: rgb(62,143,175);
    background: linear-gradient(180deg, #47acd4b4 0%, #45a7ce 12%, rgba(26,77,97,1) 75%, rgba(24,53,64,1) 96%, rgba(24,53,64,0.4) 100%);
    
}

.container ul li a{
    color: #3BFFCE;
}
