.Container{
    background-color: #183540;
    width: 100%; 
}
h1{
    padding-top: 50px;
    color: #3BFFCE;
}

button{
    background-color: #499EBF;
}

.card{
    background-color:#306980;
    border-radius: 30px;
}

@media (max-width: 575.98px) { 
    h1{
        padding-top: 50px;
    }
    
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
 
    .titulo{
        font-size: 50px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
      
    .titulo{
        font-size: 60px;
    }
 }

// Large devices (desktops, 992px and up)


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    
    .logo{
        width: 280px !important;
        padding-top: 30px;
        
       
    }
 }

