.text-center{
    background-color: #183540;
}

.Container{
    background-color: #183540;
    width: 100%;
}

img{
    width: 300px;
}

button{
    background-color: #499EBF;
}

.card{
    width: 30rem;
}