.tarjeta{
    background-color:#306980;
    border-radius: 15px;
    margin: 5rem 0;
    padding: 3rem 0;
}
.leaflet-container {
    width: 70vw;
    height: 60vh;
}
.leaflet-popup-content-wrapper {
    width: 21vw;
    height: 18vh;
}
h7{
    color: black;
}
h8{
    color: grey;

}
h9 {
    color: red;
}
