
img{
    width: 400px;
    padding-top: 50px;  
}
.card{
    margin-top: 30px;
}
.help{
    width: 150px;

}
.bici{
    width: 150px;

}
.nota{
   background-color: #499EBF;
   margin-right: 25px;
   margin-bottom: 4px;
   
 
   
   
}
.leaflet-container {
    width: 70vw;
    height: 60vh;
}
.leaflet-popup-content-wrapper {
    width: 21vw;
    height: 18vh;
}
h7{
    color: black;
}
h8{
    color: grey;

}
h9 {
    color: red;
}
