
img{
    width: 400px;
    padding-top: 50px;  
}
.card{
    margin-top: 30px;
}
.help{
    width: 150px;

}
.bici{
    width: 150px;

}
.nota{
   background-color: #499EBF;
   margin-right: 25px;
   margin-bottom: 4px;
   
 
   
   
}
.leaflet-container {
    width: 70vw;
    height: 50vh;
}
.leaflet-popup-content { 
    width:auto !important; 
}
