.navbar {
    background-color: #499EBF;
    height: 40px;
    width: 100%;
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
}
.navbar ul li >.linkNavbar{
    margin: 2em;
    color: #3BFFCE;
}

.MobileNavigation{
    display: none;
}

@media (max-width: 990px){
    .navbar .Navigation{
        display: none;
    }
    .MobileNavigation{
        
        display: flex;
        align-items: center;
    
    }
    .MobileNavigation .hamburger{
        position: absolute;
        right: 5%;
        font-size: large;
        cursor: pointer;
        color: #3BFFCE;
    }

    .navbar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0%;
        width: 100%;
        background-color: #306980;
        border-top: 2px solid #3BFFCE;
    }
    .navbar nav ul li{
        padding: 3%;
        
    }
}