.navbar {
    background: rgb(62,143,175);
    background: radial-gradient(circle, #499EBF 30%, rgba(26,77,97,1) 88%, rgba(24,53,64,1) 96%, rgba(24,53,64,0.5) 100%);
    height: 8vh;
    width: 100vw;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    size: 20px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
}
.navbar ul li >.linkNavbar{
    margin: 1em;
    color: white;
}
.navbar ul li >.linkNavbar:hover{
    margin: 1em;
    color: #3BFFCE;
}
.MobileNavigation{
    display: none;
}

@media (max-width: 990px){
    .navbar .Navigation{
        display: none;
    }
    .MobileNavigation{
        width: 100vw;
        display: flex;
        align-items: center;
    
    }
    .MobileNavigation .hamburger{
        position: absolute;
        right: 5%;
        cursor: pointer;
        color: #3BFFCE;
    }
    .MobileNavigation .hamburger:hover{
        color: #FCE33E;
    }

    .navbar nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0%;
        width: 100%;
        background-color: #30698044;
        border-top: 2px solid white;
    }
    .navbar nav ul li{
        padding: 3%;
        
    }
}