.Container{
    background-color: #183540;
}
h4{
    padding-top: 50px;
    color: #3BFFCE;
}
.tarjeta{
    background-image: radial-gradient( circle farthest-corner at 99% 99%,  #2c5194 0%, #3E8FAF 95% );
    box-shadow: rgba(7, 11, 39, 0.15) 2.8px 2.8px 3.8px;
    border-radius: 15px;
    margin: 5rem 0;
    padding: 3rem 0;
}